@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

/* primary colors */
:root {
  --primary-turquoise: #5ACCCC;
  --primary-white: #FFFFFF;
  --primary-steel-blue: #335C6E;
  --primary-yellow: #FABD33;
}

/* secondary colors */
:root {
  --secondary-orange-red: #F76434;
  --secondary-teal: #4AA088;
  --secondary-yellow-dark: #FAAD00;
  --secondary-turquoise-dark-1: #53C2C2;
  --secondary-turquoise-dark-2: #28B8B8;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Booklist styles */
.book-list {
  display: grid;
}

.book-list-item {
  cursor: pointer;
  padding: 1rem;
  text-align: center;
}

.book-list-item img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.book-list-item-title {
  font-size: 1.2rem;
}

.book-list-item-author {
  color: var(--primary-steel-blue);
}

/* reading list styles */
.reading-list {
  margin-top: 2rem;
  font-weight: bold;
}

.reading-list-item {
  background-color: var(--primary-turquoise);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.reading-list-item-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.reading-list-item-author {
  color: var(--primary-steel-blue);
}

.reading-list-item-remove-button {
  color: var(--primary-white);
}

.book-list-item:hover .book-list-item-button {
  opacity: 1;
}